:root {
 --main-color: blue;
 --main-color-yell: #f8c008;
 --main-color-prpl: #ca70d8;
 --main-color-light-prpl: #FDF2FF;
 --main-text-color: #000;
 --main-text-gray: #e3e3e3;
 --prim-text-color: #919191;
 --prim-text-color_2: #797979;
 --prim-text-color_3: #363636;

 --main-br-radius: 5px;
 --max-br-radius: 100px;
 --sc-padding: 50px 0;

 --main-border: 1px solid #e3e3e3;
 --main-tp-background: rgba(0, 0, 0, 0.04);
 --main-anim: 0.3s ease;
 --slow-anim: 0.4s ease;

 --shadow-main: rgba(0, 0, 0, 0.06) 0px 2px 7px;
 --shadow-main_2:   rgba(0, 0, 0, 0.10) 0px 4px 8px;
 --shadow-main_3:   rgba(0, 0, 0, 0.12) 0px 8px 10px;
}

body,
html {
 margin: 0;
 padding: 0;
 font-family: "Montserrat", sans-serif;
 line-height: 1.35em;
 font-size: 16px;
}

button {
 user-select: none;
 cursor: pointer;
 font-family: inherit;
 font-size: inherit;
}

h1, h2, h3, h4, h5, h6, p {
 margin: 0.5em 0;
}

h1 {
 font-size: 38px;
}

h2 {
 font-size: 38px;
 line-height: 1.25em;
 margin: 0.3em 0;
}

h3 {
 font-size: 34px;
 margin: 0.3em 0;
}

h4 {
 font-size: 20px;
 margin: 5px 0;
}

p {
 color: var(--prim-text-color);
}

*{
 box-sizing: border-box;
}

.content_wrapper {
 max-width: 1280px;
 margin: 0 auto;
 padding: 0 20px;
}

.btn {
 display: inline-block;
 border: none;
 padding: 0;
 margin: 0;
 color: inherit;
 text-decoration: none;
 white-space: nowrap;
 background-color: transparent;
 transition: background var(--main-anim);
}

.pre_title {
 font-weight: 600;
 text-transform: uppercase;
}

/* Navbar styles */

.hd-navbar {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 padding-top: 20px;
 font-size: 17px;
 color: #fff;
}

.hd-navbar .logo {
 text-transform: uppercase;
 font-size: 32px;
 font-weight: 600;
}

.main-nav ul {
 display: flex;
 margin: 0;
 padding: 0;
 list-style: none;
 height: 70px;
 line-height: 70px;
 white-space: nowrap;
}

.main-nav li {
 display: flex;
 flex-direction: column;
}

.main-nav li,
.main-nav li a {
 display: block;
 height: 100%;
}

.main-nav li:not(:last-child) {
 margin-right: 10px;
}

.main-nav li a {
 padding: 0 20px;
 text-decoration: none;
 color: inherit;
 border-radius: var(--main-br-radius);
 transition: background var(--main-anim);
}

.btn_contact {
 padding: 15px 30px;
 color: inherit;
 border: var(--main-border);
 border-radius: var(--max-br-radius);
}

.btn_contact:hover,
.main-nav li a:hover {
 background-color: var(--main-tp-background);
}

/* Navbar styles end */

/* Header block styles */

.main-header {
 background-color: var(--main-color-prpl);
}

.hd-blocks {
 display: flex;
 justify-content: space-between;
 margin-top: 30px;
 min-height: calc(100vh - 120px);
 color: #fff;
}

.hd-info {
 max-width: 50%;
 flex: 0 0 50%;
 padding-right: 20px;
}

.hd-info h1 {
 font-size: 78px;
 line-height: 0.95em;
 margin: 0.5em 0 0;
}

.hd-info p {
 font-size: 19px;
 line-height: 1.5em;
 margin: 1.5em 0;
 color: #fff;
}

.btn_explore {
 padding: 12px 40px;
 margin-top: 10px;
 font-size: 17px;
 background-color: var(--main-color-yell);
 border-radius: var(--max-br-radius);
}

.hd-info,
.hd-image {
 flex: 0 0 50%;
 max-width: 50%;
 height: calc(100vh - 150px);
 min-height: 500px;
}

.hd-info {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
}

.hd-image {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgba(255, 255, 255, 0.144);
}

.hd-image img {
 max-width: 100%;
 max-height: 100%;
 object-fit: contain;
}

.sc_icons {
 position: absolute;
 bottom: 20px;
 right: 5px;
}

.sc_icons ul {
 display: flex;
 margin: 0;
 padding: 0;
 list-style: none;
}

.sc_icons li:not(:last-child) {
 margin-right: 5px;
}

.sc_icons a {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 30px;
 height: 30px;
 text-decoration: none;
 font-size: 15px;
 color: inherit;
 transition: var(--main-anim);
 border: 2px solid #fff;
 border-radius: var(--max-br-radius);
}

.sc_icons a:hover {
 opacity: 0.8;
}

/* Header block styles end */

/* Video block styles */

.video_block {
 position: relative;
 padding: var(--sc-padding);
 box-sizing: content-box;
}

.video_block {
 min-height: 400px;
}

.vb_player {
 position: absolute;
 right: 0;
 top: 0;

 height: calc(100% - 140px - 20px);
 max-width: 50vw;
 width: 100%;
 margin: 70px 0;
 background-color: rgba(141, 141, 141, 0.3);
}

.vb_content {
 position: absolute;
 right: 0;
 top: 20px;
 width: calc(100% - 20px);
 height: 100%;
 background-color: var(--main-color-prpl);
 background: url('./img/fallback.jpg') 0 0 no-repeat blue;
 background-size: cover;
 cursor: pointer;
}

.vb_content .filter {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: var(--main-color-prpl);
 opacity: 0.75;
 transition: var(--main-anim);
}

.vb_content .play {
 position: absolute;
 top: calc(50% - 60px);
 left: calc(50% - 60px);
 width: 120px;
 height: 120px;
 background-color: #fff;
 border-radius: 50%;
 z-index: 100;
 transition: var(--main-anim);
}

.vb_content .play::after {
 content: '';
 display: block;
 width: 0;
 height: 0;
 position: absolute;
 top: calc(50% - 22px);
 left: calc(50% - 12px);

 border-top: 24px solid transparent;
 border-bottom: 24px solid transparent;
 border-left: 35px solid var(--main-color-prpl);
}

.vb_info {
 max-width: 50%;
 min-height: 460px;
 margin-top: 50px;
 padding-right: 40px;
}

.vb_info .pre_title {
 font-weight: 600;
 text-transform: uppercase;
}

.vb_content:hover .filter {
 opacity: 0.65;
}

.vb_content:hover .play {
 top: calc(50% - 67.5px);
 left: calc(50% - 67.5px);
 width: 135px;
 height: 135px;
}

.vb_content:active .play {
 top: calc(50% - 64px);
 left: calc(50% - 64px);
 width: 128px;
 height: 128px;
 transition: 0s;
}

/* Video block styles end */

/* def-clickable styles */

.def-clickable,
.def-clickable dt,
.def-clickable dd {
 margin: 0;
 padding: 0;
}

.def-clickable dt {
 position: relative;
 display: inline-block;
 padding: 8px 25px 8px 0;
 margin-top: 10px;

 font-family: 'Roboto';
 font-size: 17px;
 font-weight: 500;
 background-color: rgb(255, 255, 255);
 user-select: none;
 cursor: pointer;
 transition: var(--main-anim);
 z-index: 10;
}

.def-clickable dd {
 max-height: 0;
 overflow: hidden;
 line-height: 1.4em;
 color: var(--prim-text-color);
 transition: 0.4s ease;
 transform: translateY(-10px);
}

.def-clickable dt::after {
 content: '';
 position: absolute;
 right: 5px;
 bottom: calc(50% - 3px);
 display: block;
 width: 7px;
 height: 7px;
 border-left: 2px solid #000;
 border-bottom: 2px solid #000;
 transform: rotate(-45deg);
 transition: var(--main-anim);
}

.def-clickable dt.opened::after {
 transform: translateY(4px) rotate(-225deg);
}

.def-clickable dt.opened::before {
 content: '';
 display: block;
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 4px;
 background-color: var(--main-color-prpl);
}

.def-clickable dt.opened + dd {
 padding: 5px 0;
 max-height: 120px;
 overflow: scroll;
 transform: translateY(0);
}


.def-clickable dt:hover {
 color: #6d6d6d;
}
.def-clickable dt:hover::after {
 border-color: #6d6d6d;
}

/* def-clickable styles end */

/* Gallery block styles */

.gallery_block {
 padding: var(--sc-padding);
 background-color: var(--main-color-light-prpl);
}

.gb_infowrap {
 display: flex;
 margin: 10px 0;
}

.gb_infowrap p,
.gb_infowrap h2 {
 flex: 0 0 50%;
 padding-right: 5%;
 margin: 0;
}

.gb_infowrap p {
 font-size: 14px;
 line-height: 1.5em;
 color: #808080;
}

.gb_nav {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 padding: 0;
 margin: 0 0 30px;
 list-style: none;
 user-select: none;
}

.gb_nav li:not(:last-child) {
 margin-right: 20px;
}

.gb_nav a {
 display: block;
 padding: 10px 0;
 font-size: 18px;
 color: var(--prim-text-color_2);
 text-decoration: none;
 text-transform: capitalize;
}

.gb_nav a.opened {
 color: #000;
}

.gb_gallery {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 align-items: flex-start;
}

.gb_block {
 position: relative;
 flex: 0 0 32%;
 width: 32%;
 height: 300px;
 margin-bottom: 20px;
 background-color: #fff;
}

.gb_block:not(:nth-child(3n)) {
 margin-right: 2%;
}

.gb_block .hover {
 opacity: 0;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;

 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 width: 100%;
 height: 100%;

 padding: 15px 25px;
 background-color: rgba(0, 0, 0, 0.5);
 transition: var(--main-anim);
 cursor: pointer;
}

.gb_block:hover .hover {
 opacity: 1;
}

.cn {
 transform: translateY(20px);
 transition: var(--main-anim);
}

.gb_block:hover .cn {
 transform: translateY(0);
}

.gb_block .hover h4 {
 font-size: 22px;
 margin: 0;
}

.gb_block .hover p {
 font-size: 16px;
 font-weight: 300;
 margin: 7px 0;
}

.gb_block .hover h4,
.gb_block .hover p {
 color: #fff;
}

.gb_block img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 font-size: 0;
}

.btn_allprj {
 display: block;
 padding: 15px 30px;
 margin: 20px auto 0;
 font-size: 16px;
 font-weight: 500;
 color: #fff;
 border-radius: var(--max-br-radius);
 background-color: var(--main-color-prpl);
}

/* Gallery block styles end */

/* Benefits block styles */

.benefits_block {
 padding: var(--sc-padding);
}

.bb_info {
 text-align: center;
}

.bb_info h2 {
 max-width: 650px;
 margin: 0 auto;
}
.bb_info p {
 max-width: 550px;
 margin: 15px auto;
 color: var(--prim-text-color_3);
 line-height: 1.5em;
}

.bb_content {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 padding: 20px 0;
}

.bb_block {
 flex: 0 0 32%;
 display: flex;
 flex-direction: column;
 align-items: center;
 max-width: 32%;
 min-height: 150px;
 padding: 20px 15px;
 margin-bottom: 2%;
 text-align: center;
 border: 1px solid rgb(243, 243, 243);
 transition: var(--main-anim);
}

.bb_block p {
 margin: 0;
}

.bb_block:not(:nth-child(3n)) {
 margin-right: 2%;
}

.bb_block i {
 order: -2;
}

.bb_block:hover {
 box-shadow: var( --shadow-main_3);
}

/* Benefits block styles end */

/* Reviews block styles */

.reviews_block {
 padding: var(--sc-padding);
}

.rb_info {
 text-align: center;
}

.rb_info h2 {
 max-width: 650px;
 margin: 0 auto;
}
.rb_info p {
 max-width: 550px;
 margin: 15px auto;
 color: var(--prim-text-color_3);
 line-height: 1.5em;
}

.rb_slider {
 position: relative;
 padding: 0 60px;
}

.rb_viewbox {
 position: relative;
 height: 200px;
 padding: 5px 5px 15px 5px;
 overflow: hidden;
}

.rb_content {
 position: absolute;
 left: 0;
 top: 0;
 display: flex;
 align-items: stretch;
 justify-content: flex-start;
 transition: var(--main-anim);
 padding: 8px;
}

.rb_block {
 flex: 0 0 360px;
 width: 360px;

 display: flex;
 flex-direction: column;
 align-items: center;
 
 min-height: 150px;
 padding: 20px 15px;
 box-shadow: var( --shadow-main_3);
}

.rb_block:not(:last-child) {
 margin-right: 15px;
}

.rb_nv button {
 position: absolute;
 top: calc(50% - 22.5px);
 width: 45px;
 height: 45px;
 background-color: rgb(255, 255, 255);
 border-radius: var(--max-br-radius);
 border: var(--main-border);
 box-shadow: var(--shadow-main_3);
}

.rb_nv .btn_back {
 left: 5px;
}
.rb_nv .btn_fw {
 right: 5px;
}

/* Reviews block styles end */
