:root {
 --main-color: blue;
 --main-color-yell: #f8c008;
 --main-color-prpl: #ca70d8;
 --main-color-light-prpl: #FDF2FF;

 --main-text-color: #000;
 --main-text-gray: #e3e3e3;
 --prim-text-color: #919191;
 --prim-text-color_2: #797979;
 --prim-text-color_3: #363636;

 --main-br-radius: 5px;
 --max-br-radius: 100px;
 --sc-padding: 50px 0;

 --main-border: 1px solid #e3e3e3;
 --main-tp-background: rgba(0, 0, 0, 0.04);
 --main-anim: 0.3s ease;
 --main-anim_2: 0.4s ease;
 --slow-anim: 0.4s ease;

 --shadow-main: rgba(0, 0, 0, 0.06) 0px 2px 7px;
 --shadow-main_2:   rgba(0, 0, 0, 0.10) 0px 4px 8px;
 --shadow-main_3:   rgba(0, 0, 0, 0.12) 0px 8px 10px;
}

body,
html {
 margin: 0;
 padding: 0;
 font-family: "Montserrat", sans-serif;
 line-height: 1.35em;
 font-size: 16px;
}

button {
 user-select: none;
 cursor: pointer;
 font-family: inherit;
 font-size: inherit;
}

h1, h2, h3, h4, h5, h6, p {
 margin: 0.5em 0;
}

h1 {
 font-size: 38px;
}

h2 {
 font-size: 34px;
 line-height: 1.25em;
 margin: 0.3em 0;
}

h3 {
 font-size: 34px;
 margin: 0.3em 0;
}

h4 {
 font-size: 20px;
 margin: 5px 0;
}

p {
 color: var(--prim-text-color);
}

img {
 font-size: 0;
}

*{
 box-sizing: border-box;
}

.content_wrapper {
 max-width: 1280px;
 margin: 0 auto;
 padding: 0 20px;
}

.btn {
 display: inline-block;
 border: none;
 padding: 0;
 margin: 0;
 color: inherit;
 text-decoration: none;
 white-space: nowrap;
 background-color: transparent;
 transition: background var(--main-anim);
}

.btn_th_0 {
 padding: 15px 30px;
 font-size: 16px;
 font-weight: 500;
 color: #fff;
 border-radius: var(--max-br-radius);
 background-color: var(--main-color-prpl);
}

.btn_allpr {
 display: block;
 margin: 20px auto 0;
}

.pre_title {
 font-weight: 600;
 text-transform: uppercase;
}

.rect_shadow::before {
 content: '';
 display: block;
 position: absolute;
 left: -20px;
 bottom: -20px;
 width: 100%;
 height: 100%;
 background-color: rgba(102, 96, 96, 0.1);
 z-index: 0;
}

.sc_icons {
 position: absolute;
 bottom: 20px;
 right: 5px;
}

.sc_icons ul,
ul.sc_icons {
 display: flex;
 margin: 0;
 padding: 0;
 list-style: none;
}

.sc_icons li:not(:last-child) {
 margin-right: 5px;
}

.sc_icons a {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 30px;
 height: 30px;
 text-decoration: none;
 font-size: 15px;
 color: inherit;
 transition: var(--main-anim);
 border: 2px solid #fff;
 border-radius: var(--max-br-radius);
}

.sc_icons a:hover {
 opacity: 0.8;
}


/* Navbar styles */

.hd-navbar {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
 padding-top: 20px;
 font-size: 17px;
 color: #fff;
}

.hd-navbar .logo {
 text-transform: uppercase;
 font-size: 32px;
 font-weight: 600;
}

.main-nav ul {
 display: flex;
 margin: 0;
 padding: 0;
 list-style: none;
 height: 70px;
 line-height: 70px;
 white-space: nowrap;
}

.main-nav li {
 display: flex;
 flex-direction: column;
}

.main-nav li,
.main-nav li a {
 display: block;
 height: 100%;
}

.main-nav li:not(:last-child) {
 margin-right: 10px;
}

.main-nav li a {
 padding: 0 20px;
 text-decoration: none;
 color: inherit;
 border-radius: var(--main-br-radius);
 transition: background var(--main-anim);
}

.btn_contact {
 padding: 15px 30px;
 color: inherit;
 border: var(--main-border);
 border-radius: var(--max-br-radius);
}

.btn_contact:hover,
.main-nav li a:hover {
 background-color: var(--main-tp-background);
}

/* Navbar styles end */

/* Header block styles */

.main-header {
 background-color: var(--main-color-prpl);
}

.hd-blocks {
 display: flex;
 justify-content: space-between;
 margin-top: 30px;
 min-height: calc(100vh - 120px);
 color: #fff;
}

.hd-info {
 max-width: 50%;
 flex: 0 0 50%;
 padding-right: 20px;
}

.hd-info h1 {
 font-size: 78px;
 line-height: 0.95em;
 margin: 0.5em 0 0;
}

.hd-info p {
 font-size: 19px;
 line-height: 1.5em;
 margin: 1.5em 0;
 color: #fff;
}

.btn_explore {
 padding: 12px 40px;
 margin-top: 10px;
 font-size: 17px;
 background-color: var(--main-color-yell);
 border-radius: var(--max-br-radius);
}

.hd-info,
.hd-image {
 flex: 0 0 50%;
 max-width: 50%;
 height: calc(100vh - 150px);
 min-height: 500px;
}

.hd-info {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
}

.hd-image {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: rgba(255, 255, 255, 0.144);
}

.hd-image img {
 max-width: 100%;
 max-height: 100%;
 object-fit: contain;
}

/* Header block styles end */

/* Video block styles */

.video_block {
 position: relative;
 padding: var(--sc-padding);
 box-sizing: content-box;
}

.video_block {
 min-height: 400px;
}

.vb_player {
 position: absolute;
 right: 0;
 top: 0;
 max-width: 50vw;
 width: 100%;
 height: calc(100% - 140px - 20px);
 margin: 70px 0;
 cursor: pointer;
}

.vb_player .bg,
.vb_player .filter {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 10;
}

.vb_player .bg {
 position: absolute;
 width: 100;
 background: var(--main-color-prpl);
 overflow: hidden;
}

.vb_player .bg img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 transition: var(--main-anim_2);
}

.vb_player .filter {
 opacity: 0.75;
 transition: var(--main-anim);
 background-color: var(--main-color-prpl);
}

.vb_player .play {
 position: absolute;
 top: calc(50% - 60px);
 left: calc(50% - 60px);
 width: 120px;
 height: 120px;
 background-color: #fff;
 border-radius: 50%;
 z-index: 100;
 transition: var(--main-anim);
 z-index: 11;
}

.vb_player .play::after {
 content: '';
 display: block;
 width: 0;
 height: 0;
 position: absolute;
 top: calc(50% - 22px);
 left: calc(50% - 12px);

 border-top: 24px solid transparent;
 border-bottom: 24px solid transparent;
 border-left: 35px solid var(--main-color-prpl);
}

.vb_info {
 max-width: 50%;
 min-height: 460px;
 margin-top: 50px;
 padding-right: 40px;
}

.vb_info .pre_title {
 font-weight: 600;
 text-transform: uppercase;
}

.vb_player:hover .filter {
 opacity: 0.65;
}

.vb_player:hover .play {
 transform: scale(1.1);
}

.vb_player:hover .bg img {
 transform: scale(1.05);
}

.vb_player:active .play {
 top: calc(50% - 64px);
 left: calc(50% - 64px);
 width: 128px;
 height: 128px;
 transition: 0s;
}

/* Video block styles end */

/* def-clickable styles */

.def-clickable,
.def-clickable dt,
.def-clickable dd {
 margin: 0;
 padding: 0;
}

.def-clickable dt {
 position: relative;
 display: inline-block;
 padding: 8px 25px 8px 0;
 margin-top: 10px;

 font-family: 'Roboto';
 font-size: 17px;
 font-weight: 500;
 background-color: rgb(255, 255, 255);
 user-select: none;
 cursor: pointer;
 transition: var(--main-anim);
 z-index: 10;
}

.def-clickable dd {
 max-height: 0;
 overflow: hidden;
 line-height: 1.4em;
 color: var(--prim-text-color);
 transition: 0.4s ease;
 transform: translateY(-10px);
}

.def-clickable dt::after {
 content: '';
 position: absolute;
 right: 5px;
 bottom: calc(50% - 3px);
 display: block;
 width: 7px;
 height: 7px;
 border-left: 2px solid #000;
 border-bottom: 2px solid #000;
 transform: rotate(-45deg);
 transition: var(--main-anim);
}

.def-clickable dt.opened::after {
 transform: translateY(4px) rotate(-225deg);
}

.def-clickable dt.opened::before {
 content: '';
 display: block;
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 4px;
 background-color: var(--main-color-prpl);
}

.def-clickable dt.opened + dd {
 padding: 5px 0;
 max-height: 120px;
 overflow: scroll;
 transform: translateY(0);
}


.def-clickable dt:hover {
 color: #6d6d6d;
}
.def-clickable dt:hover::after {
 border-color: #6d6d6d;
}

/* def-clickable styles end */

/* Gallery block styles */

.gallery_block {
 padding: var(--sc-padding);
 background-color: var(--main-color-light-prpl);
}

.gb_infowrap {
 display: flex;
 margin: 10px 0;
}

.gb_infowrap p,
.gb_infowrap h2 {
 flex: 0 0 50%;
 padding-right: 5%;
 margin: 0;
}

.gb_infowrap p {
 font-size: 14px;
 line-height: 1.5em;
 color: #808080;
}

.gb_nav {
 display: flex;
 justify-content: flex-start;
 align-items: center;
 padding: 0;
 margin: 0 0 30px;
 list-style: none;
 user-select: none;
}

.gb_nav li:not(:last-child) {
 margin-right: 20px;
}

.gb_nav a {
 display: block;
 padding: 10px 0;
 font-size: 18px;
 color: var(--prim-text-color_2);
 text-decoration: none;
 text-transform: capitalize;
}

.gb_nav a.opened {
 color: #000;
}

.gb_gallery {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 align-items: flex-start;
}

.gb_block {
 position: relative;
 flex: 0 0 32%;
 width: 32%;
 height: 300px;
 margin-bottom: 20px;
 background-color: #fff;
}

.gb_block:not(:nth-child(3n)) {
 margin-right: 2%;
}

.gb_block .hover {
 opacity: 0;
 display: flex;
 flex-direction: column;
 justify-content: flex-end;

 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 width: 100%;
 height: 100%;

 padding: 15px 25px;
 background-color: rgba(0, 0, 0, 0.5);
 transition: var(--main-anim);
 cursor: pointer;
}

.gb_block:hover .hover {
 opacity: 1;
}

.cn {
 transform: translateY(20px);
 transition: var(--main-anim);
}

.gb_block:hover .cn {
 transform: translateY(0);
}

.gb_block .hover h4 {
 font-size: 22px;
 margin: 0;
}

.gb_block .hover p {
 font-size: 16px;
 font-weight: 300;
 margin: 7px 0;
}

.gb_block .hover h4,
.gb_block .hover p {
 color: #fff;
}

.gb_block img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 font-size: 0;
}

/* Gallery block styles end */

/* Benefits block styles */

.benefits_block {
 padding: var(--sc-padding);
}

.bb_info {
 text-align: center;
}

.bb_info h2 {
 max-width: 650px;
 margin: 0 auto;
}
.bb_info p {
 max-width: 550px;
 margin: 15px auto;
 color: var(--prim-text-color_3);
 line-height: 1.5em;
}

.bb_content {
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-start;
 padding: 20px 0;
}

.bb_block {
 flex: 0 0 32%;
 display: flex;
 flex-direction: column;
 align-items: center;
 max-width: 32%;
 min-height: 150px;
 padding: 20px 15px;
 margin-bottom: 2%;
 text-align: center;
 border: 1px solid rgb(243, 243, 243);
 transition: var(--main-anim);
}

.bb_block p {
 margin: 0;
}

.bb_block:not(:nth-child(3n)) {
 margin-right: 2%;
}

.bb_block i {
 order: -2;
}

.bb_block:hover {
 box-shadow: var( --shadow-main_3);
}

/* Benefits block styles end */

/* Reviews block styles */

.reviews_block {
 padding: var(--sc-padding);
 border: 1px solid rgb(204, 204, 204);
}

.rb_info {
 text-align: center;
}

.rb_info h2 {
 max-width: 650px;
 margin: 0 auto;
}
.rb_info p {
 max-width: 550px;
 margin: 15px auto 30px;
 color: var(--prim-text-color_3);
 line-height: 1.5em;
}

.rb_slider {
 position: relative;
 padding: 0 60px;
}

.rb_viewbox {
 position: relative;
 height: 200px;
 padding: 5px 5px 15px 5px;
 overflow: hidden;
}

.rb_content {
 position: absolute;
 left: 0;
 top: 0;
 display: flex;
 align-items: stretch;
 justify-content: flex-start;
 transition: var(--main-anim);
 padding: 8px;
}

.rb_block {
 flex: 0 0 360px;
 width: 360px;

 display: flex;
 flex-direction: column;
 align-items: flex-start;
 
 min-height: 150px;
 padding: 25px 18px 40px;
 box-shadow: var( --shadow-main_3);
 border: 1px solid #eee;
}

.rb_block:not(:last-child) {
 margin-right: 15px;
}

.rb_block blockquote {
 font-size: 16px;
 padding: 0;
 margin: 0;
}

.rb_block q {
 display: block;
 margin: 20px 0;
 color: var(--prim-text-color);
}

.rb_block sources {
 font-weight: 600;
}

.rb_block .photo {
 height: 70px;
 width: 70px;
 overflow: hidden;
 border-radius: var(--max-br-radius);
 background-color: rgb(236, 230, 230);
 user-select: none;
}

.rb_block .photo img {
 width: 70px;
 height: 70px;
 object-fit: cover;
}

.rb_nv button {
 position: absolute;
 top: calc(50% - 25.5px);
 width: 45px;
 height: 45px;
 background-color: rgb(255, 255, 255);
 border-radius: var(--max-br-radius);
 border: var(--main-border);
 box-shadow: var(--shadow-main_3);
 transition: var(--main-anim);
}

.rb_nv button:hover {
 transform: scale(1.15);
 box-shadow: var(--shadow-main_2);
}

.rb_nv button:active {
 transform: scale(1.10) translateY(2px);
 transition: 0s;
}

.rb_nv .btn_back {
 left: 5px;
}
.rb_nv .btn_fw {
 right: 5px;
}

/** Triangle props **/
.rb_nv i {
 font-size: 0;
 line-height: 0;
 pointer-events: none;
}
.rb_nv i::after {
 content: "";
 display: inline-block;
 width: 0;
 height: 0;
 margin-bottom: -2px;
 border-top: 10px solid transparent;
 border-bottom: 10px solid transparent;
}
.rb_nv .btn_back i::after {
 border-right: 12px solid #919191;
 margin-left: -5px;
}
.rb_nv .btn_fw i::after {
 border-left: 12px solid #919191;
 margin-right: -5px;
}

/* Reviews block styles end */

/* Blog block styles */

.lastblog_block {
 padding: 100px 0;
 background-color: var(--main-color-light-prpl);
}

.lastblog_content {
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.lb_info {
 max-width: 50%;
 margin-top: 50px;
 padding-right: 40px;
}

.lb_info .pre_title {
 font-weight: 600;
 text-transform: uppercase;
}

.lb_info p {
 margin: 2em 0 2.5em;
 line-height: 1.6em;
 color: var(--prim-text-color_3);
}

.lb_article {
 position: relative;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: flex-end;

 padding: 35px;
 background-color: transparent;
 min-height: 550px;
}

.lb_article h4 {
 display: inline-block;
 padding: 2px 10px 2px 3px;
 border-radius: 5px;
}

.lb_article .bg,
.lb_article .bg::after {
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 width: 100%;
 height: 100%;
 user-select: none;
}

.lb_article .bg::after {
 content: '';
 display: block;
 background-color: rgba(57, 63, 97, 0.4);
}

.lb_article .bg {
 z-index: 0;
 overflow: hidden;
}

.lb_article .bg img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.lb_article .content {
 position: relative;
 z-index: 100;
 color: #fff;
}

.lb_article p {
 color: #fff;
 opacity: 0.85;
 line-height: 1.25em;
 margin: 0.4em 0 1em;
}

.lb_article .credentials {
 display: flex;
 justify-content: flex-start;
 align-items: center;
}

.lb_article .avatar {
 width: 50px;
 height: 50px;
 margin-right: 12px;
 background-color: #fff;
 border-radius: var(--max-br-radius);
 overflow: hidden;
 user-select: none;
}

.lb_article .avatar img {
 width: 100%;
 height: 100%;
 object-fit: cover;
}

.lb_article .username {
 font-weight: 600;
 letter-spacing: 0.08em;
 font-size: 15px;
}

.ar_link {
 text-decoration: none;
}

/** Animations **/
.lb_article .content,
.lb_article .bg img,
.lb_article .bg::after,
.lb_article h4 {
 transition: transform var(--main-anim_2), background 0.2s ease;
}

.lb_article:hover .content {
 transform: translateY(15px);
}

.lb_article:hover .bg img {
 transform: scale(1.05);
}

.lb_article:hover h4 {
 background-color: rgba(255, 255, 255, 0.3);
}

.lb_article:hover .bg::after {
 background-color: rgba(57, 63, 97, 0.45);
}

/* Blog block styles end */

/* Footer styles */

.ft_block_1_wrapper {
 border-bottom: var(--main-border);
}

.ft_block_1 {
 padding: 150px 0;
 max-width: 800px;
 margin: 0 auto;
 text-align: center;
}

.ft_contact p {
 margin: 1.4em 0 2.3em;
 line-height: 1.8em;
}

.ft_form {
 display: flex;
 justify-content: center;
 align-items: stretch;
 height: 50px;
}

.ft_form input {
 padding: 10px 15px;
 width: 360px;
 margin-right: 25px;
 border: 1px solid #cfcfcf;
 background-color: rgb(244, 244, 248);
 font-size: 20px;
 border-radius: 5px;
}

.ft_form input::placeholder {
 font-family: inherit;
 color: var(--prim-text-color);
 font-size: 18px;
}

.ft_form button {
 width: 150px;
 font-size: 17px;
}

.ft_contact h2 {
 font-size: 48px;
 margin: 0;
}

.footer_nav ul {
 margin: 0;
 padding: 0;
 font-weight: 600;
 list-style: none;
 text-transform: capitalize;
}

.footer_nav a {
 display: inline-block;
 padding: 5px 0;
 font-weight: 400;
 font-size: 15px;
 color: var(--prim-text-color);
 text-decoration: none;
}

.footer_nav a:hover {
 text-decoration: underline;
}

.cp_block {
 font-size: 15px;
 align-self: flex-end;
}

.cp_block .sc_icons {
 position: static;
 margin-bottom: 10px;
}

.footer_nav {
 flex: 1 0 auto;
 display: flex;
 justify-content: space-between;
 align-items: flex-start;
 padding: 50px 0 100px;
}

.footer_nav > ul li:nth-child(1) {
 margin-top: 10px;
}

.footer_nav .sc_icons a {
 border-color: #797979;
}

.sc_icons a:hover {
 text-decoration: none;
}

/* Footer styles end */