.apt_block {
 margin-bottom: 50px;
}

.apt_block .entry_content p {
 display: inline;
 line-height: 1.7em;
}

.apt_block .entry_title {
 line-height: 1em;
 margin: 0.5em 0;
}

.btn_more {
 display: inline-block;
 margin-left: 5px;
}

.blog_header {
 background: var(--main-gradient_1);
 margin-bottom: 60px;
}

.blog_title {
 text-align: center;
 padding-top: 30px;
 padding-bottom: 30px;
}

.blog_title h1 {
 font-size: 80px;
 font-weight: 300;
 color: #fff;
}